logs
target
project
.cache-tests
project/.sbtserver
/public/app/**/*.component.js
/public/app/**/*.component.js.map
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
.cache-main
.sbtserver/
