<div class="panel panel-default">
    <div class="panel-heading">
         <a (click)="findVessel(id)" style="cursor: pointer;">
             <h3 class="panel-title pull-left">{{title}}</h3>
         </a>
         <form (submit)="deleteVessel($event)">
             <input type="hidden" formControlName="id" name="id" value="{{id}}" />
             <button class="btn btn-danger pull-right" title="Delete">X</button>
         </form>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <ng-content></ng-content>
    </div>
</div>
