<div class="navbar navbar-default navbar-fixed-top">
    <h1 class="text-center">Vessel Management Tool</h1>
</div>
<div id="banner" style="padding-bottom: 90px;">
</div>
<div class="container">
    <form [formGroup]="myForm" class="row" (submit)="addVessel($event)">
        <input formControlName="id" name="id" type="hidden" [(ngModel)]="vessel.id">

        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                <input formControlName="name" name="name"
                    [(ngModel)]="vessel.name" class="form-control"  autocomplete="off">

                <div *ngIf="myForm.controls.name.invalid">
                    <span *ngIf="myForm.controls.name.errors.required" class="form-control alert-danger">
                        Name required
                    </span>
                    <span *ngIf="myForm.controls.name.errors.minlength" class="form-control alert-danger">
                        4 caracteres
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Width</label>
                <input formControlName="width" name="width" type="number"
                    [(ngModel)]="vessel.width" class="form-control"  autocomplete="off">

                <div *ngIf="myForm.controls.width.invalid">
                    <span *ngIf="myForm.controls.width.errors.required" class="form-control alert-danger">
                        Width required
                    </span>
                    <span *ngIf="myForm.controls.width.errors.minlength" class="form-control alert-danger">
                        4 caracteres
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Length</label>
                <input formControlName="length" name="length" type="number"
                    [(ngModel)]="vessel.length" class="form-control"  autocomplete="off">

                <div *ngIf="myForm.controls.length.invalid">
                    <span *ngIf="myForm.controls.length.errors.required" class="form-control alert-danger">
                        length required
                    </span>
                    <span *ngIf="myForm.controls.length.errors.minlength" class="form-control alert-danger">
                        4 caracteres
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Draft</label>
                <input formControlName="draft" name="draft" type="number"
                    [(ngModel)]="vessel.draft" class="form-control"  autocomplete="off">

                <div *ngIf="myForm.controls.draft.invalid">
                    <span *ngIf="myForm.controls.draft.errors.required" class="form-control alert-danger">
                        Draft required
                    </span>
                    <span *ngIf="myForm.controls.draft.errors.minlength" class="form-control alert-danger">
                        4 caracteres
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div style="padding-bottom: 10px;">
                <div class="form-group">
                    <label>Location</label>
                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                </div>
                <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>

        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                Save
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Back</a>
            <hr>
        </div>
    </form>
</div>
